.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f3f4f5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* wtsapp */
.clone{
  /* text-align:center; */
  font-size:30px;
  font-weight: 600;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:30vh;
  color:white;
  background-color: rgba(6, 168, 103, 0.683);
}
.clones{
  width:100%;
  height:20px;
  background-color: rgb(212, 207, 207);
}
.wtsappLayer{
  width:80%;
  height:100vh;
  background-color: rgb(229, 227, 227);
  position:absolute;
  top:100px;
  left:10%;
  display:flex;
  border-radius:10px;
}
.wtsapp-icon{
  width:50px;
  height:50px;
  position:absolute;
  top:45px;
  left:39%;
}
/* wtsappDetail */
.detail{
  display:flex;
  flex-direction: column;
  width:100%;
}
.condition{
  display:flex;
}
.condition h2{
  margin:10px;
}
.condition .Lists{
  font-size:20px;
  text-decoration: none;
list-style-type:none;

}
.Lists li{
  list-style: decimal;
text-align: left;
}
/* phoneform */
.form{
/* width:100%; */
display:flex;
flex-direction: column;
/* justify-content: center; */
/* align-items: center; */
}
form{
  display:flex;
  flex-direction: column;
  align-items: center;
}
select,input{
  width:300px;
  height:30px;
  margin:10px;
}
.btnForm{
  width:100px;
  height:30px;
}
.Qrcodes{
  font-size:20px;
  margin:20px;
}


/* Qrcode */
.Qcode img{
  width:200px;
  height:200px;
  position: absolute;
  top:50px;
  right:130px;
  margin:2px;
}
.Wtsicon{
  position: absolute;
  top:80px;
  margin-left:72px;
}

/* maincontainer */
.mainContainer{
  width:100%vw;
  display:flex;
  flex-direction: row;
  padding: 20px;
  background-color: rgb(188, 241, 199);
}

/* sidebar */
.sideView{
  width:40%;
  height: 100vh;
  background-color: rgb(157, 155, 155);
  border-radius: 10px 0;
  overflow: scroll;
}

.profile{
  background-color: rgb(223, 221, 221);
  display:flex;
  width:100%;
  height:100px;
  margin-top:1px;
  align-items: center;
  display:flex;
  border-radius: 10px 10px 0 0;
  /* flex-direction: column; */
}
.img{
  width:50px;
  height:50px;
  border-radius: 50%;
  cursor: pointer;
}
.details{
  margin-left:80px;
  width:50%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.rooms{
  background-color: #282c34;
  height:100%vh;
  color:rgb(255, 255, 255);
  display:flex;
  flex-direction: column;
  margin:1px;
  gap:8px;
}
.archive{display: flex;
  justify-content: space-between;
  margin:0px;
  padding:5px;
  color:green;
  background-color: white;
  border: 1px solid white;
  border-radius:2px;

}
.chat-persons{
  border-radius:2px;
  border:1px solid rgb(180, 180, 180);
  display:flex;
  padding:1.2px;
  /* margin:2px; */
  justify-content: space-between;
}
.person-detail{
  width:100%;
  display:flex;
  /* flex-direction: column; */
}
.name{
  position:relative;
  top:-13px;
  left:10px;
}
.msg{
  position:relative;
  top:10px;
  left:-20px;
}
.time{
  font-size:10px;
  margin-top:0;
}
.badge{
  font-size:10px;
  background-color: green;
  border: 1px solid white;
border-radius: 50%;
padding:2px;

color:white;
}
.chat-rooms{
  background-color:transparent;
  cursor:pointer;
}
/* contact */
.containerimg{
  display:flex;

}

/* communicate */
.communicate{
  width:100%;
  height: 100vh;
  background-color: rgb(245, 241, 241);
  border-radius:0 10px ;
  display:flex;
  flex-direction: column;
}
.person-communicate{
  padding:5px;
  margin:0;
  width:100%vw;
  height:50px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a1a2a2;
  border-radius:0 10px ;
}
.person-pro{
  display:flex;
  gap:20px;
  margin:10px;
  align-items: center;
  justify-content: center;
}
.icons-pic{
  display:flex;
  gap:15px;
  margin-right: 50px;
}
/* .messageBox{
  width:100%;
  background-color: rgba(65, 63, 63, 0.338);
  #e5ddd6;
  overflow: scroll;
  display:flex;
  flex-direction: column;
  height:100%;
}
.contain{
  width:100%;
  display:flex; 
  justify-content: flex-end;
  margin:5px 16px;
}
.message{
  max-width: 40%;
  color:#303030;
  background-color: #c3f7bf;
  margin:2px;
  padding:8px 10px;
  font-size:16px;
} */
.msg-typeBox{
  /* width:100%; */
  background-color: #a1a2a2;
  position: relative;
top:1px;
bottom: 0px;
display:flex;
width:100%;
height:50px;
justify-content:center;
align-items: center;
gap:10px;
}
.type-box{
  display: flex;
  background-color: #c1c4c4;
  width: 70%;
  height:40px;
padding:5px;
align-items: center;
justify-content: space-around;
border-radius: 50px;
gap:10px;
cursor: pointer;
}
.type-box input{
  width:400px;
  border:none;
  background-color: #c8cbcb;outline: none;
}
.type-box input:focus{
  background-color: #f3f4f5;
}
.microPhone{
  /* width:100px; */
  padding:10px;
  background-color: gray;
 border:1px solid gray;
 cursor: pointer;
 border-radius:50%;
}


@media screen and (max-width:450px) {
  /* wtsappdetail */

  .wtsappLayer{
    width:80%;
   height: 100%;
    background-color: rgb(229, 227, 227);
    position:absolute;
    top:100px;
    left:10%;
    display:flex;
    flex-direction: column;
    border-radius:10px;
  }
  .wtsapp-icon{
    width:50px;
    height:50px;
    position:absolute;
    top:15px;
    left:10%;
  }
  .condition{
    width:100%;
    height:100%vh;
    display:flex;
    flex-direction: column;
    background-color: rgb(206, 199, 199);
  border-radius:10px;
  }
  .Qcode img{
    width:200px;
    height:200px;
    margin:2px;
    position: relative;
    left:2%;
    top:0;
    border-radius: 10px;;
  }
  .mainContainer{
    display:flex;
flex-direction: column;
    padding: 10px;
    background-color: rgb(188, 241, 199);
  }
  .sideView{
    overflow: scroll;
    width:100%;
    height: 100vh;
    background-color: rgb(157, 155, 155);
    border-radius: 10px 0;
  }
  .communicate{
    margin-top:10px;
    width:100%;
    height: 100vh;
    background-color: rgb(245, 241, 241);
    border-radius:0 10px ;
    display:flex;
    flex-direction: column;
  }
  .type-box{
    width:100%;
    overflow: scroll;
  }
}
@media screen and (min-width:490px) {
  .mainContainer{
    display:flex;
width:100%;
    padding: 10px;
    background-color: rgb(188, 241, 199);
  }

  .sideView{
  
    width:40%;
    height: 100vh;
    background-color: rgb(157, 155, 155);
    border-radius: 10px 0;
  }
  .communicate{
    width:60%;
    height: 100vh;
    background-color: rgb(245, 241, 241);
    border-radius:0 10px ;
    display:flex;
    flex-direction: column;
  }
  
}